body{
    color:#e2bb42;
}
.nav-wrapper{
    background-color: #80CBC4 !important;
}
.formBody{
    flex: 1;
    border-right: 2px solid #ffeaa1;
}
.listBody{
    display: none;
    flex: 1;
}
.listContainer{
    display: flex;
}
.listItems{
    margin-left: 20px;
}
.listItem, .delete_btn{
    display: inline-block;
}
.deleteBtn{
    margin: 0 0 7px 7px;
    height: 20px !important;
    width: 20px !important;
    line-height: 20px !important;
}
